body {
  background: #4a5b6d;
  margin: 0;
  padding: 0;
  min-height: 100vh;
   width: 100%;
}

header {
  background-color: #161820f8;
  color: white;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo h1 {
    margin: 0;
}

.img {
    width: 3cm;
    height: 1.2cm;
    margin: 0;
}

footer {
    padding: 1.5rem 1rem;
    display: flex;
    color:#777;
    background:#161820f8;
    border-top: 1px solid #e5e7eb;
    justify-content: space-between;
    flex-wrap: warp;
}

.serchbar {
    width: 6cm;
    height: 100%;
    background-color: #4a5b6d;
}


button:hover {
    background-color:pink;

}

#align_left {
    text-align: left;
}

